<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Papajohns-index</title>
    <link rel="stylesheet" href="/static/css/include/reset.css" />
    <link rel="stylesheet" href="/static/css/include/header.css" />
    <link rel="stylesheet" href="/static/css/include/footer.css" />
    <link rel="stylesheet" href="/static/css/include/sidebar.css" />
    <link rel="stylesheet" href="/static/css/include/topbutton.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    <div id="wrap">
      <header></header>

      <section class="main_slide_wrap">
        <div class="slide_content">
          <ul class="slide_content__list">
            <li class="slide_content__list__item one">
              <img src="/static/img/220624_07_main_promotion.jpg" alt="" />
            </li>
            <li class="slide_content__list__item two">
              <img src="/static/img/220720_08_main_realMinaSet.jpg" alt="" />
            </li>
            <li class="slide_content__list__item three">
              <img src="/static/img/220301_main_RegularSet.jpg" alt="" />
            </li>
          </ul>
        </div>
        <div class="slide__btns">
          <div class="slide__btns__next">
            <button></button>
            <button></button>
          </div>
          <button class="slide__btns__item s1"></button>
          <button class="slide__btns__item s2"></button>
          <button class="slide__btns__item s3"></button>
        </div>
      </section>
      <section class="main_address_wrap">
        <img src="/static/img/icon_marker.png" alt="" />
        <span id="sexy_string">기본 주소를 등록해 주세요.</span>
      </section>
      <section class="main_order_wrap">
        <a href=""
          ><div><span id="sexy_string2">배달 주문</span></div></a
        >
        <a href=""
          ><div><span id="sexy_string3">포장 주문</span></div></a
        >
      </section>
      <section class="main_event_wrap">
        <div class="main_event_wrap1">
          <div class="main_event_wrap__up">
            <button class="main_event_wrap__btns__item">
              <img src="/static/img/icon_link3.png" alt="" />
              <span>이벤트</span>
            </button>
            <button class="main_event_wrap__btns__item">
              <img src="/static/img/icon_link2.png" alt="" />
              <span>제휴할인</span>
            </button>
          </div>
          <div class="main_event_wrap__down">
            <button class="main_event_wrap__btns__item">
              <img src="/static/img/icon_link5.png" alt="" />
              <span>E-쿠폰주문</span>
            </button>
            <button class="main_event_wrap__btns__item">
              <img src="/static/img/icon_link4.png" alt="" />
              <span>매장찾기</span>
            </button>
          </div>
        </div>
        <a href="">
          <img src="/static/img/220225_franchisee_low.png" alt="" />
        </a>
      </section>

      <footer></footer>

      <div class="side_remote"></div>

      <div class="page_remote">
        <img src="/static/img/icon_top.png" alt="" />
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/3e27d22283.js"
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/include/header.js"></script>
    <script src="/static/js/include/footer.js"></script>
    <script src="/static/js/include/sidebar.js"></script>
    <script src="/static/js/include/topbutton.js"></script>
  </body>
</html>
