<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <link rel="stylesheet" href="/static/css/include/reset.css">
    <link rel="stylesheet" href="/static/css/include/header.css">
    <link rel="stylesheet" href="/static/css/include/footer.css">
    <link rel="stylesheet" href="/static/css/include/sidebar.css">
    <link rel="stylesheet" href="/static/css/include/topbutton.css">

</head>
<body>
    <header></header>

    <section style="margin-top: 200px">
        <p id="test"></p>
    </section>

    <footer></footer>

    <div class="side_remote"></div>

    <div class="page_remote">
        <img src="/static/img/icon_top.png" alt="" />
    </div>
</body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/static/js/include/header.js"></script>
<script src="/static/js/include/footer.js"></script>
<script src="/static/js/include/sidebar.js"></script>
<script src="/static/js/include/topbutton.js"></script>
<script src="/static/js/include/page.js"></script>
</html>